* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-top: 120px;
    padding-left: 100px;
    margin-right: 20px;
    font-family: Roboto, Arial;
}

p {
    margin: 0;
}

.tooltip {
    position: absolute;
    color: white;
    background-color: gray;
    font-size: 13px;
    padding: 10px 6px;
    border-radius: 3px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.35s;
}

.tool-pos-bot {
    bottom: -45px;
}

.tool-pos-top {
    top: -40px;
}

.search-btn:hover,
.circle-btn:hover,
.icon-container:hover,
.author-container:hover {
    .tooltip {
        opacity: 0.9;
    }

}

main {
    margin-bottom: 200px; /* fiction space */
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 200px;
    font-style: italic;
}