.topics {
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: 20px;
}

.btn {
    background-color: #f2f2f2;
    border: none;
    font-size: 14px;
    padding: 8px 12px;
    margin-right: 8px;
    border-radius: 8px;
    transition: background-color 0.15s;
}

.btn:hover {
    background-color: #e5e5e5;
    cursor: pointer;
}

.active {
    color: white;
    background-color: black;
}

.active:hover {
    background-color: black;
}

.video-grid {
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* row-gap: 200px;
    column-gap: 20px; */
}

.video {
    height: 200px;
}